Repository fastjs-team/fastjs.dev, pull requests merged in 2023-11, with the labels that each got.

#9 Fix #8: The copy button of the npm download link on the homepage is misaligned and wrapped due to insufficient width
  src/views/home/main.vue
Labels: Type: Bug, Component: Style

#15 #12 Feature add language japanese
  src/lang/components/topbar.json
  src/lang/config.json
  src/lang/pages/home.json
Labels: Type: Language, Component: Page

#18 Feature: Router mode change to history
  404.html
  index.html
  src/App.vue
  src/router/index.js
  vite.config.js
Labels: Type: Breaking Change, Docs Team, Component: Config, Component: Page, Type: Enhancement, Status: Need Deploy
